/.vs/ProductMicroService/v15/.suo
/.vs/ProductMicroService/v15/Server/sqlite3/db.lock
/.vs/ProductMicroService/v15/Server/sqlite3/storage.ide
/.vs/ProductMicroService/v15/Server/sqlite3/storage.ide-shm
/.vs/ProductMicroService/v15/Server/sqlite3/storage.ide-wal
/obj/Debug/docker-compose.dcproj.FileListAbsolute.txt
/obj/Docker/CachedComposeConfigFilePaths.cache
/obj/Docker/docker-compose.vs.debug.g.yml
/obj/Docker/docker-compose.vs.debug.partial.g.yml
/obj/Docker/docker-compose.vs.release.g.yml
/obj/Docker/docker-compose.vs.release.partial.g.yml
/obj/Docker/DockerDevelopmentMode.cache
/obj/Docker/HashOfDockerArtifacts.cache
/obj/Docker/MergedDockerCompose.cache
/obj/Docker/MergedDockerCompose1.cache
/obj/Docker/TargetOS.cache
/ProductMicroService/bin/Debug/netcoreapp2.0/ProductMicroService.deps.json
/ProductMicroService/bin/Debug/netcoreapp2.0/ProductMicroService.dll
/ProductMicroService/bin/Debug/netcoreapp2.0/ProductMicroService.pdb
/ProductMicroService/bin/Debug/netcoreapp2.0/ProductMicroService.runtimeconfig.dev.json
/ProductMicroService/bin/Debug/netcoreapp2.0/ProductMicroService.runtimeconfig.json
/ProductMicroService/obj/Debug/netcoreapp2.0/ProductMicroService.AssemblyInfo.cs
/ProductMicroService/obj/Debug/netcoreapp2.0/ProductMicroService.AssemblyInfoInputs.cache
/ProductMicroService/obj/Debug/netcoreapp2.0/ProductMicroService.csproj.CoreCompileInputs.cache
/ProductMicroService/obj/Debug/netcoreapp2.0/ProductMicroService.csproj.FileListAbsolute.txt
/ProductMicroService/obj/Debug/netcoreapp2.0/ProductMicroService.csprojResolveAssemblyReference.cache
/ProductMicroService/obj/Debug/netcoreapp2.0/ProductMicroService.dll
/ProductMicroService/obj/Debug/netcoreapp2.0/ProductMicroService.pdb
/ProductMicroService/obj/Docker/AppType.cache
/ProductMicroService/obj/Docker/CanonicalServiceName.cache
/ProductMicroService/obj/Docker/ProjectReferences.cache
/ProductMicroService/obj/Docker/RelativeOutputAssemblyPath.Fast.cache
/ProductMicroService/obj/Docker/RelativeOutputAssemblyPath.Regular.cache
/ProductMicroService/obj/Docker/TargetFramework.cache
/ProductMicroService/obj/ProductMicroService.csproj.nuget.cache
/ProductMicroService/obj/ProductMicroService.csproj.nuget.g.props
/ProductMicroService/obj/ProductMicroService.csproj.nuget.g.targets
/ProductMicroService/obj/project.assets.json
/ProductMicroService/ProductMicroService.csproj.user
